.number-badge-wrapper {
  width: 415.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 197px 0 0;
  box-sizing: border-box;
  min-width: 415.3px;
  max-width: 100%;
}
.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(239, 239, 255, 0.2);
  width: 100%;
  height: 100%;
}
.bg-abstract-icon {
  position: absolute;
  top: 216.8px;
  left: 117.3px;
  width: 484.7px;
  height: 593.3px;
  object-fit: contain;
  z-index: 1;
}
.background-shape-parent {
  height: 1024px;
  flex: 1;
  position: relative;
  min-width: 456px;
  max-width: 100%;
}
.root1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 181px;
  box-sizing: border-box;
  gap: 141.2px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .number-badge-wrapper {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .number-badge-wrapper {
    padding-top: 128px;
    box-sizing: border-box;
  }
  .root1 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .background-shape-parent,
  .number-badge-wrapper {
    min-width: 100%;
  }
  .root1 {
    gap: 71px;
  }
}
@media screen and (max-width: 450px) {
  .number-badge-wrapper {
    padding-top: 83px;
    box-sizing: border-box;
  }
  .root1 {
    gap: 35px;
  }
}
