.frame-child {
  width: 28.3px;
  height: 28.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-orange);
  flex-shrink: 0;
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.epicek {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 71px;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  gap: 9.2px;
}
.frame-wrapper {
  padding: 0 45px;
}
.input-fields-child {
  width: 478.5px;
  height: 626.9px;
  position: relative;
  border-radius: 16.67px;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.google-icon1,
.login-to-your {
  position: relative;
  z-index: 1;
}
.google-icon1 {
  width: 221.7px;
  height: 65.4px;
  object-fit: contain;
}
.email-addres {
  position: relative;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.youraddresemailcom {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-midnightblue-200);
  white-space: nowrap;
  z-index: 1;
}
.address-input-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.address-input,
.email-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.address-input {
  align-self: stretch;
  gap: 16.5px;
  font-size: var(--font-size-sm-3);
  color: var(--color-midnightblue-400);
}
.email-field {
  width: 372.2px;
  padding: 0 0 16.7px;
  box-sizing: border-box;
  gap: 30.6px;
  max-width: 100%;
  font-size: var(--font-size-14xl-3);
}
.password1 {
  position: relative;
  display: inline-block;
  min-width: 60.9px;
  z-index: 1;
}
.enter-your-password {
  position: relative;
  font-weight: 600;
  z-index: 1;
  /* Enter your password */


font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20.0064px;
line-height: 27px;
/* identical to box height */

color: #03014C;


}
.eyes-icon {
  width: 26.7px;
  height: 23.3px;
  position: relative;
  z-index: 1;
}
.eye-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-2) 0 0;
}
.password-input1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-200);
}
.password-field-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.password-field1 {
  width: 372.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 15.9px;
  box-sizing: border-box;
  gap: 16.3px;
  max-width: 100%;
  color: var(--color-midnightblue-400);
}
.button-shape {
  height: 78.4px;
  width: calc(100% - 18.3px);
  position: absolute;
  margin: 0 !important;
  right: 9.1px;
  bottom: -8.3px;
  left: 9.2px;
  filter: blur(41.68px);
  border-radius: 8.34px;
  background-color: var(--color-blueviolet-200);
  z-index: 1;
}
.button-label-container-child {
  height: 78.4px;
  width: 406.8px;
  position: relative;
  border-radius: 8.34px;
  background-color: var(--color-orange);
  display: none;
  max-width: 100%;
}
.login-to-continue {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 3;
}
.button-label-container,
.login-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.button-label-container {
  cursor: pointer;
  border: 0;
  padding: 25.8px var(--padding-xl) 25.1px;
  background-color: var(--color-orange);
  flex: 1;
  border-radius: 8.34px;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.button-label-container:hover {
  background-color: #c60;
}
.login-button {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.sign-up {
  color: #ea6c00;
}
.dont-have-an-container {
  position: relative;
  z-index: 1;
}
.dont-have-an-account-sign-u-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.input-fields1,
.login-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input-fields1 {
  flex: 1;
  border-radius: 16.67px;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.9px var(--padding-14xl) 36.7px;
  gap: 43.3px;
}
.login-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 17px 0 0;
}
.facebook-button {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8.34px;
  border: 0.8px solid var(--color-midnightblue-200);
  box-sizing: border-box;
  opacity: 0.3;
}
.vector-icon1 {
  height: 25.8px;
  width: 25.8px;
  position: relative;
  z-index: 1;
}
.login-with-facebook {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 1;
  
}
.facebook,
.facebook-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-2) 0 0;
  
  
}
.facebook {
  width: 220.9px;
  flex-direction: row;
  padding: var(--padding-lg-3) 19px 18.4px;
  box-sizing: border-box;
  position: relative;
  gap: 14.2px;
  z-index: 1;
  margin-top: -575.2px;
}
.frame-parent,
.login-container-parent,
.root-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.login-container-parent {
  align-self: stretch;
  align-items: flex-end;
  min-height: 627px;
  font-size: var(--font-size-sm-3);
}
.frame-parent,
.root-inner {
  align-items: flex-start;
}
.frame-parent {
  align-self: stretch;
  gap: 147.9px;
}
.root-inner {
  width: 495.5px;
  padding: 81px 0 0;
  box-sizing: border-box;
  min-width: 495.5px;
}
.img-here-inner,
.img-here2 {
  background-color: var(--color-silver);
}
.img-here-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.img-here2 {
  height: 1024px;
  flex: 1;
  position: relative;
  min-width: 437px;
  max-width: 100%;
}
.root3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 159px;
  box-sizing: border-box;
  gap: 113px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-200);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1125px) {
  .root-inner {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .login-to-your {
    font-size: var(--font-size-8xl);
  }
  .root-inner,
  .root3 {
    box-sizing: border-box;
  }
  .root-inner {
    padding-top: 53px;
  }
  .root3 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
}
@media screen and (max-width: 750px) {
  .input-fields1 {
    gap: 22px;
  }
  .frame-parent {
    gap: 74px;
  }
  .img-here2,
  .root-inner {
    min-width: 100%;
  }
  .root3 {
    gap: 56px;
  }
}
@media screen and (max-width: 450px) {
  .epicek {
    font-size: var(--font-size-base);
  }
  .login-to-your {
    font-size: var(--font-size-xl);
  }
  .youraddresemailcom {
    font-size: var(--font-size-base);
  }
  .email-field {
    gap: 15px;
  }
  .enter-your-password {
    font-size: var(--font-size-base);
  }
  .root-inner {
    padding-top: 34px;
    box-sizing: border-box;
  }
  .root3 {
    gap: var(--gap-9xl);
  }
}
